body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgreen; 
}

a {
    color: darkseagreen;
}

img {
    width: 250px; 
    height: 250px; 
    object-fit: cover;
    border-radius: 50%;
    padding: 0.5em;
}


