@page
@model Plantify_Project_The_Webshop.Pages.OrderConfirmationModel
@inject Plantify_Project_The_Webshop.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Order Confirmation";
}

<div id="order-confirmation">
    <h1 class="confirmation-title">Order Confirmation</h1>

    <div class="confirmation-message">
        <div id="date-number">
            <p> <b>Order Date: </b>@DateTime.Now.ToString() | <b>Ordernumber: </b>@Model.OrderNumber </p>
        </div>

        <div id="message-price">
            <p>Thank you, @accessControl.LoggedInAccountName for your order!</p>
            <p> <b>Your Total: </b>@Model.TotalPrice SEK</p>
        </div>

    </div> 

    <form class="return-form" asp-page="/Index" method="get">
        <button type="submit" class="return-button">Return to Start</button>
    </form>
</div>
