@using Plantify_Project_The_Webshop.Models;
@model IEnumerable<SelectListItem>;

<form method="post" asp-page="/FakeLogin">
    <div class="login">
        <label>
            Log in as:
            <select asp-items="@Model" name="AccountID" id="account-id"></select>
        </label>
        <button type="submit" class="loginbtn">Log In</button>
    </div>

</form>